{% extends 'base.html.twig' %}

{% block title %}Page Not Found{% endblock %}

{% block body %}
    <div class="align-content-center">
        Page Not Found<br>
        <a href="{{ path('blog_posts') }}">Go to homepage</a>
    </div>
{% endblock %}